/*  */

*, :after, :before {
    box-sizing: inherit;
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}


/* Alignment */

.items-center {
    align-items: center;
}

/*  */

.flex-1 {
    flex: 1 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

/*  */

.border-b-2 {
    border-bottom-width: 2px;
}

.w-auto {
    width: auto;
}

.h-6 {
    height: 1.5rem;
}



/*  */

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}

.tracking-wider {
    letter-spacing: .05em;
}

.border-transparent {
    border-color: transparent;
}

/*  */

body {
    color: #333;
    font-family: Google Sans,sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}


/*  */

body {
    line-height: inherit;
}


/*  */

html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    line-height: 1.15;
}

/*  */

body {
    margin: 0;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}


.py-0 {
    padding-bottom: 0;
    padding-top: 0;
}

.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem;
}

.md\:p-4 {
    padding: 1rem;
}

.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}


.md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
