* {
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
}

/* basic - Space, Border */

div, header, h1, p, img, a {
    padding: 30px;
    margin: 5px;
}

div, header {
    border: 2px solid darkslategray;
}

h1 {
    border: 2px solid rgb(110, 161, 255);
}

p {
    border: 2px solid rgb(192, 0, 160);
}

img {
    border: 2px solid rgb(255, 136, 0);
}

a {
    border: 2px solid rgb(57, 231, 51);
}


/* basic - height */

img {
    height: 3em;
}



